.home-page {
    height: 120vh;
    width: 100%;
    background-color: rgb(255, 230, 148);
}

.image-container {
    max-width: 100%;
    height: 80vh;
    overflow: hidden;
    margin-bottom: 70px;    
}



#image {
    height: auto;
    max-width: 100%;
    
}

.carousel-container {
    max-width: 100%;
    height: 10vh;
    font-size: 2rem;

}

.carousel {
    color: black;
}
