.navbar {
    background-color: rgb(2, 51, 63);
    padding: 15px;
    text-align: center;
    position: sticky;
    z-index: 100;
    top: 0;
    margin-bottom: 20px;
}

.nav-list {
    list-style-type: none;
    padding: 10px;
}

.nav-item {
    display: inline;
    
}

.nav-item a {
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

a {
    cursor: pointer;
}

