/*.property-card {
    width: 50%; 
    box-sizing: border-box; 
    padding: 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  }
  
  
  @media (max-width: 768px) {
    .property-card {
      width: 100%; 
    }
  }*/

  #imagess {
    width: 80%;
    height: auto;
    transition: ease-out;
  }

  #images:hover {
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    #imagess {
      width: 100%;
      height: auto; 
    }
  }